/* - - - - - - - - NAVIGATION - - - - - - - - */

.nav-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	height:80px;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 300px;
	margin: auto;
	align-items: center;
	margin: auto;
	height:80px;
}

.nav-btn {
	text-align: center;
}

.nav-label {
	font-size: 0.7em; 
	color:green; 
}

.active {
	font-weight: bold;
	font-size: normal;
}

